<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<button type="button"class="btn btn-info social-btn"> <%= link_to "facebook", "https://www.facebook.com/profile.php?id=100017629022849%"%></button>
